<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<link rel="icon" href="/assets/img/burger.png">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Burgerlicious Devour Menu</title>
</head>

<body>
 <div class="row">
      <div class="col s6 img">
	<img src="/assets/img/burger.png" width="300px" style="margin-top: 50px" id="burger">
</div>
</div>
	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
			
				<a class="grey-text text-lighten-4 right" href="https://github.com/raquelcer>Reference Work</a>
			</div>
		</div>
	</footer>
</body>
</html>